/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*  #23395d, #203354, #1c2e4a, #192841, #152238  */

.navButton {
	-fx-background-color: transparent;
	-fx-skin: "com.switcher.ButtonFade";
}

#basePane {
	-fx-background-color: #292929;
}

#popupBasePane {
	-fx-background-color: #555555;
}

#delBasePane {
	-fx-background-color: #555555;
}

#vboxleft {
	-fx-background-color: #1d1d1d;
}

#hboxtop {
	-fx-background-color: #414141;
}

.menu-bar {
	-fx-background-color: #414141;
}

.menu .label {
	-fx-text-fill: white;
}

.menu-item .label {
	-fx-text-fill: black;
}

#launchButton:hover, #editButton:hover, #delButton:hover  {
	-fx-opacity: 0.8;
}

.purpBut {
	-fx-border-color:  #bb86fc;
	-fx-border-width:  2px;
	-fx-border-radius: 5;
	-fx-background-color:  rgba(187,134,252,0.25);
	-fx-background-radius: 5;
	-fx-text-fill: #bb86fc;
	-fx-font-size: 14px;
}

.redBut {
	-fx-border-color:  #a83b45;
	-fx-border-width:  2px;
	-fx-border-radius: 5;
	-fx-background-color:  rgba(97, 28, 34,0.25);
	-fx-background-radius: 5;
	-fx-text-fill: #a83b45;
	-fx-font-size: 14px;
}

.table-view {
    -fx-background-color: #1d1d1d;
    -fx-border-color: #1d1d1d #292929 #1d1d1d #1d1d1d;
    -fx-background-insets:0;
    -fx-padding:0;
}


.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-view .column-header-background{
    -fx-background-color: #1d1d1d;
}

.table-view:focused {
  -fx-background-insets: 0;
  -fx-background-color: transparent; /* or transparent or other preferred color */
  -fx-box-border: transparent;
  -fx-control-inner-background: red;
  -fx-padding:0;

}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: #1d1d1d;
    -fx-border-insets: 0;
}

.table-row-cell {
    -fx-text-background-color: white;
    -fx-background-color: #1d1d1d;
}



.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}

.table-row-cell:selected{
	-fx-background-color:#292929;
}

.label {
    -fx-text-background-color: white;
}

/*
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}



*/